// Imports

@import "partials/reset";
@import "partials/clearfix";
@import "partials/general_styles";


// 1. Many small items in a grid

.small-grid-flexbox {

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;

  }

  li {
    height: 30px;
    width: 10%;
    box-sizing: border-box;

  }
}

@media(min-width: 900px) {

  .small-grid-flexbox {

    ul {
      display: flex;
      justify-content: center;
      height: 400px;
      width: 400px;

    }

    li {
      display: flex;
      justify-content: center;
      flex-direction: row;
      line-height: 36px;
      text-align: center;
      height: 40px;
      width: 40px;
    }
  }
}

// 2. 2-Column Grid

.two-col-grid-flexbox {

  display:flex;
  flex-flow: row nowrap;
  justify-content: center;

  }

  .column-2 {
    order: 1;list-style-type: square;
  }

  .column-1 {
    order: 1;
  }

@media (min-width: 900px){
  .two-col-grid-flexbox {
    display:flex;
    flex-direction:row-reverse;
  }
}

// 3. Centering

  .block.centering-formula.centering-formula-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .block.centering-formula.centering-formula-2 {
    display: flex;
    flex-flow: row nowrap;

    .centered {
      flex: auto;
      margin: auto;
    }
  }

// 4. Ordering

.ordering-block{
  display: flex;
  flex-flow: column wrap;

  .item {
    flex: 0 0 100%;
    box-sizing: border-box;

    &.item-a{
      order: 3;

      @media (min-width: 900px) {
        order: 1;
      }
      @media (min-width: 1200px) {
        order: 3;
      }

    }

    &.item-b{
      order: 2;

      @media (min-width: 900px) {
        order: 2;
      }
      @media (min-width: 1200px) {
        order: 4;
      }
    }

    &.item-c{
      order: 1;

      @media (min-width: 900px) {
        order: 3;
      }
      @media (min-width: 1200px) {
        order: 2;
      }
    }

    &.item-d{
      order: 4;
      @media (min-width: 900px) {
        order: 4;
      }
      @media (min-width: 1200px) {
        order: 1;
      }
    }
  }
}

